@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

body {
    color: white;
    background-color: black;
    font-family: 'Google Sans', sans-serif;
    margin: 0;
}

.text-input {
    color: orangered;
    background-color: rgb(255, 200, 167);
    border-radius: 4px;
    padding: 4px 8px;
}

.text-input:focus-visible {
    outline: 1px solid orangered;
}

.text-input::placeholder {
    color: #695546;
}

.hero-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    gap: 0px;
}

.hero-container::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;

    background-image:
        linear-gradient(to right, rgb(40, 20, 15) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(40, 20, 15) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(20, 10, 7) 100%);
    background-repeat: repeat, repeat, no-repeat;
    background-size: 40px 40px, 40px 40px, cover;

    mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.75) 0%, rgba(255, 255, 255, 0.5) 50%, black 100%);

    z-index: -1;
}

.hero-text-container {
    display: flex;
    flex-flow: column nowrap;
    place-items: center;
    gap: 12px;

    padding: 300px 0;

    text-align: center;

    position: relative;
}

.hero-badge {
    color: white;
    background-color: rgb(255, 96, 0);
    border-radius: 4px;

    font-weight: 900;
    
    padding: 8px;
}

.hero-heading {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;

    font-size: 80px;
    font-family: 'Quantico', sans-serif;
    
    text-align: center;
    letter-spacing: -5px;
}

.hero-marker-text {
    font-size: 96px;
    font-family: 'Covered By Your Grace', serif;
    color: orangered;
    letter-spacing: -2px;
}

.hero-subheading {
    font-size: 24px;
    margin-bottom: 32px;
    line-height: 1.2;
}

.hero-form-container {
    display: flex;
    flex-flow: row nowrap;
    background-color: white;

    border-radius: 8px;
    padding: 8px;
    gap: 8px;
}

.hero-button {
    color: white;
    background-color: rgb(255, 48, 0);

    border: none;
    border-radius: 4px;

    padding: 12px 24px;
    text-transform: uppercase;

    transition: color 0.2s ease;
    transition: background-color 0.2s ease;

    font-family: 'Google Sans', sans-serif;
    font-weight: 900;
}

.hero-button:hover {
    filter: brightness(0.9)
}

.hero-button:active {
    filter: brightness(0.8)
}

.hero-rocket-container {
    position: relative;
}

.hero-rocket-container::before {
    content: "";
    position: absolute;
    width: 512px;
    height: 512px;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%) rotate(30deg);
    background-image: radial-gradient(256px 256px, rgba(0, 0, 0, 0.2) 25%, transparent 100%);
    pointer-events: none;
    z-index: -1;
}